<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            padding: 0;
            margin: 0;
        }

        #main-h1{
    background: linear-gradient(to right, rgb(235, 196, 24), rgb(255, 0, 0));
    -webkit-background-clip: text;
    color: transparent;
    font-family: Poppins;
}

    </style>
</head>
<body>
    <div style="padding-top: 20px; padding-bottom: 10px; background-color: black;" id="main-project-div">
        <div id="text-div" style="display: flex; justify-content: center;" >
            <p id="main-h1" style="font-family: Poppins; margin: 0; padding-top: 15px; font-weight: 800; font-size: x-large;">PROJECT</p>
        </div>
        <div id="image-div" style="display: flex; justify-content: center; margin: 0;">
            <div id="bg-image" id="image-div" style="height: 175px; width: 230px; background-color: #333333; border-radius: 10px;">
                <img style="border-radius: 10px 10px 0px 0px; height: 130px; width: 230px;"" src="/images/COMMING SOON.jpg" alt="">
                <div style="display: flex; justify-content: center;">
                    <p style=" font-family: Poppins; color: white; padding: 0; margin: 0; display: flex; justify-content: center; align-content: center;">COMING SOON</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>